.chartPanelDiv {
  background-color: burlywood;
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.chartPanelDiv .firstRow {
  margin-left: 140px;
  margin-right: 85px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.chartPanelDiv .secondRow {
  margin-left: 140px;
  margin-right: 85px;

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.chartPanelDiv .firstRow .chart1 {
  width: 25%;
  height: 250px;
  background-color: rgb(252, 58, 58);
}
.chartPanelDiv .firstRow .chart2 {
  width: 45%;
  height: 250px;
  background-color: rgb(241, 241, 241);
}
.chartPanelDiv .firstRow .chart3 {
  width: 25%;
  height: 250px;
  background-color: rgb(194, 252, 58);
}
.chartPanelDiv .secondRow .chart4 {
  width: 30%;
  height: 250px;
  background-color: rgb(113, 252, 58);
}
.chartPanelDiv .secondRow .chart5 {
  width: 67.5%;
  height: 250px;
  background-color: rgb(58, 252, 155);
}
