.chartPanelDiv {
  background-color: rgb(247, 248, 251);
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  animation-duration: 0.8s;
  animation-name: slideout;
}
@keyframes slideout {
  from {
    margin-top: 60px;
  }
  to {
    margin-top: 0px;
  }
}
.chartPanelDiv .firstRow {
  margin-left: calc(5vw + 6vh);
  margin-right: 3vw;
  margin-top: 6vh;
  display: flex;
  justify-content: space-between;
}
.chartPanelDiv .secondRow {
  margin-left: calc(5vw + 6vh);
  margin-right: 3vw;
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
}
.chartPanelDiv .firstRow .chart1 {
  width: 22%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
}
.chartPanelDiv .firstRow .chart2 {
  width: 50%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
}
.chartPanelDiv .firstRow .chart3 {
  width: 22%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
}
.chartPanelDiv .secondRow .chart4 {
  width: 30%;
  height: 34vh;
  background-color: rgb(255, 255, 255);
}
.chartPanelDiv .secondRow .chart5 {
  width: 67.5%;
  height: 34vh;
  background-color: rgb(255, 255, 255);
}
