.topBarDiv {
  display: flex;
  justify-content: space-between;
  background-color: rgb(155, 155, 255);
  height: 100px;
}
.rightData {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBarDiv .searchIcon,
.topBarDiv .notificationIcon,
.topBarDiv .userIcon,
.topBarDiv .burgerIcon {
  width: 3em;
  height: 3em;
  background-color: rgb(212, 18, 18);
  margin: 20px;
}

.topBarDiv .aboutUser .nameUser {
  font-size: 1.2em;
}
.topBarDiv .aboutUser .statusUser {
  font-size: 0.9em;
}
